.main {
    margin: auto;
    height: 300px;
    width: 80%;
}

.titles {
    font-size: 64px;
    -unity-font: resource("Fonts/荆南麦圆体");
    -unity-font-definition: initial;
    -unity-text-align: middle-center;
}

.buttonGroup {
    width: 200px;
    padding-top: 50px;
    margin: auto;
    bottom: 0;
}

.buttonWelcome {
    font-size: 32px;
    -unity-font: resource("Fonts/荆南麦圆体");
    -unity-font-definition: initial;
    
    background-color: rgba(0,0,0,0);
    border-width: 0;

    flex-grow: 1;
    flex-direction: column;
}

.buttonWelcome:hover {
    color: orangered;
}


